<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.1960413006154!2d72.825064714587!3d19.055116387099915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c93e5d13ed89%3A0xc292fcb80177198f!2sHoly%20Family%20Multispeciality%20Hospital%20Bandra!5e0!3m2!1sen!2sin!4v1679070429715!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h1>Thanks for the Payment</h1>
</body>
</html>